<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="SpringDM with Tomcat" sequenceNumber="1">
<locations>
<location path="${project_loc}/target" type="Directory"/>
<location path="${project_loc}/lib" type="Directory"/>
</locations>
</target>
